<section class="page-section bg-dark text-white" id="contact">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4 text-white">Ready to change the world? Let's connect.</h2>
        <p class="text-white-75 mb-5">I am available for Summer 2026 internships and 2027 full-time roles.</p>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center">
                <i class="bi-envelope fs-2 mb-3"></i>
                <p class="text-white">andnet.deboer@email.com</p>
            </div>
        </div>
    </div>
</section>

<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2025 - Andnet DeBoer</div></div>
</footer>
