---
layout: default
---
<header class="py-5 bg-light text-center" style="padding-top: 10rem !important;">
    <div class="container px-4 px-lg-5">
        <h1 class="fw-bold mb-3">{{ page.title }}</h1>
        <div class="text-muted">{{ page.tags | join: ' | ' }}</div>
    </div>
</header>

<section class="page-section">
    <div class="container px-4 px-lg-5">
        {{ content }} 
        
        <hr class="divider" />
        <a href="{{ site.baseurl }}/" class="btn btn-primary">← Back to Portfolio</a>
    </div>
</section>

{% include contact_footer.html %}